* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #0B131E;
}

*, html {
    --primary: #1E90FF;
}

.header{
    font-family: 'Montserrat', sans-serif;
    min-width: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

.header h1{
    font-weight: 600;
    font-size: 30px;
}

.header ul{
    font-weight: 600;
}

nav{
    display:flex;
    align-items: center;
    padding: 20px 8%;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}



.text-container{
    /* max-width: 600px; */
    margin-top: 5%;
    /* margin-left: 3%; */
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}

.text-container h1{
    font-size: 70px;
    font-weight: 600;
    margin-top: 5%;


}

.text-container img{
    margin-right: 6%;
    margin-left: 0%;

}

.text-container button{
    text-align: center;
    position: relative;

}


/* .text-container a{
    text-decoration: none;
    background: #1E90FF;
    padding: 14px 80px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
    margin-left: 5px;
} */

.buttonstyle{
    margin-top: 0.1%;
    margin-left: 49%;
    /* display: flex;
    align-items: center;
    text-align: center; */

}

#btn btn-primary btn-lg{
    /* padding: 50px 50px; */
    width: 100%;

}

.button_text{
   font-weight: bold;
   font-size: 18px;
}

.button_icon{
    align-items: right;
}

/* .buttonstyle{
    height: 60px;
    width: 35%;
    border: none;
    outline: none;
    background-color: #1E90FF;
    color: white;
    font-weight: 700;
    border-radius: 60px;
    margin-bottom: 20%;


} */

.weather-widget{
    margin-top: 17%;
}


/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.chatbox__content--header svg{
    color: #fff;
    margin-left: 90%;

}
.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--primary);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 20px;

}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    text-align: left;
    color:white
}

.chatbox__footer button{
    border-radius: 50px;
    margin-left: 10px;
    padding: 10px 10px;
    width: 30%;
    border: 0;
    background-color: #1E90FF;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: #1E90FF;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    cursor: pointer;
}

.typingIndicatorContainer {
    display: flex;
    flex: none;
    align-items: flex-end;
    margin: 4px;
  }

  .typingIndicatorBubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 40px;
    margin: 0px 8px;
    background-color: #f0f1f1;
    border-radius: 12px;
  }

  .typingIndicatorBubbleDot {
    width: 4px;
    height: 4px;
    margin-right: 4px;
    background-color: #57585a;
    border-radius: 50%;
    animation-name: bounce;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

  }

  .typingIndicatorBubbleDot:first-of-type {
    margin: 0px 4px;
  }

  .typingIndicatorBubbleDot:nth-of-type(2) {
    animation-delay: 0.15s;
  }

  .typingIndicatorBubbleDot:nth-of-type(3) {
    animation-delay: 0.3s;
  }

  @keyframes bounce {
    0%,
    60%,
    100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-4px);
    }
}




